//- layout.jade
doctype html
html
  head
    link(href='../css/site.css', rel='stylesheet')

    script(src='../js/jquery/dist/jquery.min.js')
    script(src='../js/jquery-lazy/jquery.lazy.min.js')


    block title
      title= title
  body
    block content